USE [Car70967]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 02.07.2026 06:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [varchar](20) NOT NULL,
	[Model] [varchar](16) NOT NULL,
	[ProdYear] [datetime] NOT NULL,
	[Color] [varchar](16) NOT NULL,
	[EngineVol] [smallint] NOT NULL,
	[Mileage] [int] NOT NULL,
 CONSTRAINT [pk_car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 02.07.2026 06:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[CreditCardNumber] [char](20) NULL,
	[Company] [varchar](40) NULL,
	[Street] [varchar](24) NOT NULL,
	[Number] [char](8) NOT NULL,
	[City] [varchar](24) NOT NULL,
	[PostCode] [char](6) NOT NULL,
	[TaxID] [char](12) NULL,
	[PhoneNumber] [char](16) NULL,
 CONSTRAINT [pk_client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 02.07.2026 06:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[EmpDate] [datetime] NOT NULL,
	[Department] [varchar](20) NULL,
	[Position] [varchar](20) NULL,
	[Salary] [decimal](8, 2) NULL,
	[ExtSalary] [decimal](8, 2) NULL,
	[PlaceID] [int] NOT NULL,
	[PhoneNumber] [char](16) NULL,
 CONSTRAINT [pk_employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 02.07.2026 06:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[PlaceID] [int] IDENTITY(1,1) NOT NULL,
	[Street] [varchar](24) NOT NULL,
	[Number] [char](8) NOT NULL,
	[City] [varchar](24) NOT NULL,
	[PostCode] [char](6) NOT NULL,
	[PhoneNumber] [char](12) NULL,
	[Note] [varchar](40) NULL,
 CONSTRAINT [pk_place] PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 02.07.2026 06:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[RentID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[RentEmployeeID] [int] NOT NULL,
	[ReturnEmployeeID] [int] NULL,
	[RentPlaceID] [int] NOT NULL,
	[ReturnPlaceID] [int] NULL,
	[RentDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[Deposit] [decimal](8, 2) NULL,
	[UnitPrice] [decimal](8, 2) NULL,
 CONSTRAINT [pk_rent] PRIMARY KEY CLUSTERED 
(
	[RentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
